<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-text color="primary"> Cargar Gastos </ion-text>
    </ion-title>
    <ion-button slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <p-panel class="p-fluid">
        <p-header>
          <ion-grid>
            <ion-row>
              <ion-text color="primary"><b>Valores Iniciales</b></ion-text>
            </ion-row>
          </ion-grid>
        </p-header>
        <div class="p-grid">
          <div class="p-col">
            <div *ngIf="!showAdminBoard">
              <div>Nombre:</div>
              <input
                pInputText
                type="text"
                readonly="true"
                class="p-inputtext-sm"
                [(ngModel)]="currentUser.name"
              />
            </div>
            <div *ngIf="showAdminBoard">
              <div>Nombre:</div>
              <p-dropdown
                [options]="usuarios"
                [(ngModel)]="selectedUsuario"
                placeholder="Seleccione un Usuario"
                optionLabel="name"
                styleClass="p-inputtext-sm"
                (ngModelChange)="onUserChange(); cargarValores()"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="p-col">
          <div>
            <div>Desembolso:</div>
            <p-multiSelect
              [options]="registrosEntrada"
              [(ngModel)]="registrosEntrada"
              optionLabel="observaciones"
              readonly="true"
              class="p-inputtext-sm"
              defaultLabel="Sin desembolsos activos"
            ></p-multiSelect>
          </div>
        </div>
        <p-footer>
          <ion-grid>
            <ion-row>
              <ion-col class="align-items-center ion-text-center">
                Total:
                <ion-text *ngIf="total < 0" color="danger">
                  <span>$ {{ total }}</span>
                </ion-text>
                <ion-text *ngIf="total > 0" color="success">
                  <span>$ {{ total }}</span>
                </ion-text>
                <ion-text *ngIf="total == 0">
                  <span>$ {{ total }}</span>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </p-footer>
      </p-panel>
    </ion-col>
    <!-- Siguiente Panel -->
    <ion-col *ngIf="showActions">
      <form [formGroup]="formRegistroSalida" (ngSubmit)="onSubmit()">
        <p-panel>
          <p-header>
            <ion-grid>
              <ion-row>
                <ion-text color="primary"
                  ><b>Relacion Gastos de Viaje</b></ion-text
                >
              </ion-row>
            </ion-grid>
          </p-header>
          <ion-grid>
            <ion-row class="ion-justify-content-between">
              <ion-col size="5">
                <ion-label>Fecha:</ion-label>
              </ion-col>
              <ion-col size="7">
                <p-calendar
                  dataType="string"
                  dateFormat="yy-mm-dd"
                  showButtonBar="true"
                  formControlName="fecha"
                  styleClass="p-inputtext-sm"
                ></p-calendar>
              </ion-col>
              <div class="ion-text-center">
                <ng-container
                  *ngIf="!formRegistroSalida.controls['fecha'].valid && (formRegistroSalida.controls['fecha'].dirty || formRegistroSalida.controls['fecha'].touched)"
                >
                  <ion-note color="danger">
                    {{'El Fecha es necesaria'}}
                  </ion-note>
                </ng-container>
              </div>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <ion-col size="5">
                <ion-label>Tipo de Gasto:*</ion-label>
              </ion-col>
              <ion-col size="7">
                <p-dropdown
                  [options]="descriptions"
                  optionLabel="nombre"
                  filter="true"
                  placeholder="Descripcion"
                  formControlName="description"
                  styleClass="p-inputtext-sm"
                ></p-dropdown>
              </ion-col>
              <div class="ion-text-center">
                <ng-container
                  *ngIf="!formRegistroSalida.controls['description'].valid && (formRegistroSalida.controls['description'].dirty || formRegistroSalida.controls['description'].touched)"
                >
                  <ion-note color="danger">
                    {{'Seleccione una descripcion'}}
                  </ion-note>
                </ng-container>
              </div>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <ion-col size="5">
                <ion-label> Nro. Factura o detalle del gasto:* </ion-label>
              </ion-col>
              <ion-col size="7">
                <input
                  pInputText
                  type="text"
                  styleClass="p-inputtext-sm"
                  formControlName="observaciones"
                />
              </ion-col>
              <div class="ion-text-center">
                <ng-container
                  *ngIf="!formRegistroSalida.controls['observaciones'].valid && (formRegistroSalida.controls['observaciones'].dirty || formRegistroSalida.controls['observaciones'].touched)"
                >
                  <ion-note color="danger">
                    {{'Por favor Ingrese un Nro. Factura o detalle'}}
                  </ion-note>
                </ng-container>
              </div>
            </ion-row>
            <ion-row>
              <ion-col size="5"><ion-label>Valor</ion-label></ion-col>
              <ion-col size="7">
                <input
                  pInputText
                  styleClass="p-inputtext-sm"
                  type="text"
                  formControlName="cantidad"
              /></ion-col>
              <div class="ion-text-center">
                <ng-container
                  *ngIf="!formRegistroSalida.controls['cantidad'].valid && (formRegistroSalida.controls['cantidad'].dirty || formRegistroSalida.controls['cantidad'].touched)"
                >
                  <ion-note color="danger">
                    {{'Por favor una Cantidad Valida'}}
                  </ion-note>
                </ng-container>
              </div>
            </ion-row>
          </ion-grid>
          <p-footer>
            <ion-button
              type="submit"
              expand="block"
              fill="outline"
              color="primary"
              [disabled]="!formRegistroSalida.valid"
              >Agregar Gasto
            </ion-button>
          </p-footer>
        </p-panel>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>
